<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if title %}
      {{title}}
      {% endif %} 
	</title>
  </head>
  <body>
    <header>
      {% if head %}
      <center><h2>{{head}}</h2></center>  <!-- Heading of table. (Taken from Mr.Brown) -->
      {% endif %}
    </header>
    <br>
    <!-- Chooses random occupation -->
    {% if randOccupation %}
    <center><h4> Your lucky pick: {{randOccupation}} </h4></center>
    {% endif %}
    <!-- table of occupations. Creates border around table-->
    <center><table style= "border: 2px solid black; padding: 1px">
      <tr>
	<th> Job Class</th>
	<th> Percent </th>
      </tr>
      <tr>
  <!-- Creates each row for table -->
	{% for key in dict %}
	<td><center>{{key}}</center></td>
	<td><center>{{dict[key]}}</center></td>
	</tr>
	{% endfor %}
    </table></center>
  </body>
  </html>
